---
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import CommentForm from '../../components/CommentForm.astro';
---

<Layout title="Hablemos de que es WordPress">
  <Nav />
  <section class="main-content">
    <h1 class="title">Hablemos de que es WordPress</h1>
    <h2 class="subtitle">¿Qué es WordPress, Para Qué Sirve y Cómo Funciona?</h2>
    <p class="text-content">A continuación, repasaremos las principales ventajas de WordPress, como su versatilidad en la creación de sitios web. ¡Vamos a ello!</p>

    <h2 class="text-xl font-semibold">¿Qué es WordPress?</h2>
    <p class="text-content">WordPress es un sistema de gestión de contenidos web (CMS o content management system), que en pocas palabras es un sistema para publicar contenido en la web de forma sencilla. Tan común es ya, que es el líder absoluto a nivel mundial para la creación de webs desde hace muchísimos años.</p>
    <p class="text-content">WordPress se divide en tres partes:</p>
    <ul class="list-disc ml-8">
      <li>Core: WordPress en sí.</li>
      <li>Temas: que sirven para cambiar la apariencia de la web.</li>
      <li>Plugins: utilidades que pueden convertir tu web en casi cualquier cosa.</li>
    </ul>

    <h2 class="text-xl font-semibold">Ventajas de WordPress</h2>
    <p class="text-content">WordPress lleva entre nosotros más de 17 años. Debe de tener unas ventajas muy claras frente a la competencia para llevar tanto tiempo en la cima y cada vez sacar más ventaja a sus perseguidores. Ahora mismo, el 60% de webs que se hacen con CMS lo hacen con WordPress.</p>
    <p class="text-content">Te vamos a contar 6 ventajas de WordPress sobre otros CMS.</p>

    <h3 class="text-xl font-semibold">Los temas de WordPress</h3>
    <p class="text-content">Cambiar el aspecto visual de una web en WordPress se puede hacer. En el repositorio oficial hay miles de temas gratis que nos permitirán una web con una apariencia profesional en segundos.</p>
    <p class="text-content">Los temas se componen de plantillas que son cada una de las páginas maestras que maquetan nuestro contenido. Mientras más personalización haya en el tema, más plantillas tendrá. Estas plantillas son independientes del contenido, sólo le dan diseño, por eso sirven para cualquier contenido.</p>
    <p class="text-content">Por otro lado, hay también otras opciones de pago que nos crean diseños más avanzados y sirven sobre todo para proyectos más grandes, con innumerables plantillas complejas en su interior.</p>

    <h3 class="text-xl font-semibold">Los plugins WordPress</h3>
    <p class="text-content">Los plugins extienden las capacidad de WordPress con utilidades, que van desde algo muy simple, a cambiar completamente el funcionamiento de la web. Existen plugins para compartir en redes sociales, para tener una tienda online, para mejorar el rendimiento del sitio, para crear widgets…</p>
    <p class="text-content">El repositorio oficial tiene decenas de miles de plugins gratuitos llenos de utilidades. Si quieres algo, seguramente ya está creado y lo podrás encontrar ahí. Si no es así, siempre quedará la opción de comprar plugins en algún marketplace.</p>
    <p class="text-content">También existen plugins que son editores visuales que nos permiten modificar los temas y crear plantillas personalizadas muy avanzadas y sin apenas tocar el código. Algunos de los más famosos son Elementor, Divi y Visual Composer.</p>
    <p class="text-content">La mayoría de las páginas en WordPress en la actualidad están creadas con page builders o editores visuales. Así que aquí tenemos un nexo de unión entre los temas y los plugins.</p>

    <h3 class="text-xl font-semibold">La sencillez de WordPress</h3>
    <p class="text-content">Uno de los grandes puntales de WordPress es su administrador o dashboard principal. El backend de WordPress, una vez que se aprende, nos hace ser mucho más productivos.</p>
    <p class="text-content">Si la instalación de WordPress es en menos de 5 minutos y estamos familiarizados con el administrador, ya tenemos mucho ganado. Si además manejamos el tema y su personalizador, en apenas 30 minutos podremos haber sentado las bases de todo el diseño de la futura página web.</p>

    <h3 class="text-xl font-semibold">Estabilidad de WordPress</h3>
    <p class="text-content">WordPress lleva más de 17 años con nosotros, y nunca ha dejado de evolucionar sin dejar atrás a sus primeros seguidores. Esa estabilidad hace que sepas que una web en WordPress puede durar muchos años, y sólo tendrás que actualizarla al mismo tiempo que el software.</p>

    <h3 class="text-xl font-semibold">¿Qué puedo hacer con WordPress?</h3>
    <p class="text-content">Si bien es cierto que en principio WordPress viene preparado para funcionar con entradas y páginas, con los plugins podemos conseguir crear cualquier tipo de sitio web.</p>

    <h4 class="text-lg font-semibold">Blog</h4>
    <p class="text-content">Por defecto, WordPress permite hacer un blog con sus entradas. Fue para lo primero que fue pensado y para lo que mejor se adapta el core.</p>
    <p class="text-content">Un blog es una web que recoge de manera cronológicamente inversa una serie de artículos (posts), que se publican de forma periódica, que pueden ser agrupados por taxonomías (categorías y etiquetas), por fechas, por autor… que además pueden contener comentarios de los lectores.</p>
    <p class="text-content">Al ser el contenido nuevo puesto siempre en una posición preferente con referencia a los anteriores, se dice que el blog tiene contenido dinámico.</p>

    <h4 class="text-lg font-semibold">Web corporativa</h4>
    <p class="text-content">Las webs corporativas tienen un contenido que no es preferente con respecto a los anteriores en el tiempo. Son webs con contenido estático, por mucho que se pueda actualizar dentro de la misma página web.</p>
    <p class="text-content">Son páginas como la principal, la de contacto, quiénes somos, servicios, foros… que pueden crear una presencia web sencilla o mucho más elaborada.</p>

    <h4 class="text-lg font-semibold">Tienda online</h4>
    <p class="text-content">Uno de los más famosos plugins del repositorio (WooCommerce) convierte a WordPress en un ecommerce. Muchas pequeñas tiendas online (y algunas no tan pequeñas) utilizan WooCommerce y sus addons (plugins añadidos) para vender diariamente en la red.</p>
    <p class="text-content">Con WooCommerce podemos crear productos simples, productos variables, categorías, el carrito de compra… y muchas más opciones relacionadas con los envíos, los impuestos, los medios de pago, etc.</p>

    <h3 class="text-xl font-semibold">¿Cómo instalar WordPress?</h3>
    <p class="text-content">WordPress es un CMS de software libre.</p>
    <p class="text-content">Lo más normal para los desarrolladores es descargar el software desde wordpress.org e instalarlo donde quieran, incluso en un ordenador personal.</p>
    <p class="text-content">Lo más normal para los usuarios es que dentro del propio hosting privado que hayamos contratado, podamos instalar el software original de wordpress.org con un único clic. Ese servidor debe ser mínimamente actual y manejar versiones recomendadas de PHP y MySQL.</p>

    <h3 class="text-xl font-semibold">¿Cómo funciona WordPress?</h3>
    <p class="text-content">Pero, ¿cómo funciona WordPress en pocas palabras?</p>
    <ol class="list-decimal ml-8">
      <li>En primer lugar debes de tener un hosting que esté asociado a un dominio. Nosotros te ayudamos en este paso, contrata nuestro Hosting.</li>
      <li>Posteriormente, te instalaremos WordPress de manera automática y ya lo tendremos alojado en nuestros hosting.</li>
      <li>Una vez instalado, lo configuraremos y planificaremos vuestra web en cuanto a URLs, imágenes, título del sitio, descripción…</li>
      <li>Instalaremos los Plugins necesarios para darle las funciones requeridas a tu Web.</li>
      <li>Y terminaremos con el diseño y creación de la misma.</li>
    </ol>
  </section>
  <CommentForm />
  <Footer />
</Layout>

<style>
.title {
  font-size: 2rem;
  color: #125ca7; /* Dark blue color */
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: rgba(55, 65, 81, var(--tw-text-opacity)); /* Secondary color */
  margin-bottom: 2rem;
  line-height: 1.625;
}

.main-content {
  padding: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(47, 21, 165);
}

.font-semibold {
  font-weight: 600;
}

.text-lg {
  font-size: 1.125rem;
  font-weight: bold;
  color: rgb(47, 21, 165);
}

.text-content {
  font-size: 1rem;
  color: rgba(55, 65, 81, var(--tw-text-opacity)); /* Secondary color */
  margin-bottom: 1.25rem;
  line-height: 1.625;
}

.list-disc {
  list-style-type: disc;
  margin-left: 1.25rem;
}

.list-decimal {
  list-style-type: decimal;
}

.ml-8 {
  margin-left: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}
</style>
