---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline.astro';
import Nav from '../components/Nav.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Headline2 from '../components/Headline2.astro';
import Card from '../components/Card.astro';
import Features from '../components/Features.astro';
---

<Layout title="Profesional Wordpress">
  <Nav />
  <main class="p-2">
    <div class="relative z-10 text-center">
      <Headline
        title="DISEÑO WEB"
        align="center"
        image={{ src: "/public/images/disenoweb.jpg", alt: "Imagen de escritorio" }}
      />
      <div class="icon-container" style="margin-top: 0;">
        <i class="fas fa-laptop fa-4x"></i> <!-- Icono de ordenador más grande -->
      </div>
    </div>
  </main>
</Layout>

