---
import Layout from '../layouts/Layout.astro';
import Headline from '../components/Headline.astro';
import Nav from '../components/Nav.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Headline2 from '../components/Headline2.astro';
import Card from '../components/Card.astro';
import Features from '../components/Features.astro';
---

<Layout title="Profesional Wordpress">
	<Nav />
	<main class="p-2">
		<div class="headline relative lg:w-full flex items-center justify-center" style="height: 480px;">
			<Headline
				title="DISEÑO Y MANTENIMIENTO WEB"
				subtitle="Para tu negocio"
				tagline="Diseño web, tiendas online, seo y mantenimiento web para pequeños negocios, profesionales independientes, frrelancers, proyectos personales y startups."
				align="center"
				image= {{ src: "/public/images/escritorio.jpg", alt: "Imagen de escritorio" }}
			/>
		</div>
		
		<SectionHeading
			tagline={`
				Soy Vanessa, y estoy aquí para ayudarte a brillar en el mundo digital. Ya sea con un sitio web que cause sensación o con estrategias astutas de SEO, mi objetivo es hacer que tu presencia online no solo sea efectiva, sino también un éxito rentable.
				Si buscas un sitio web que sea una mezcla perfecta de estilo y funcionalidad, capaz de generar resultados palpables, ¡has llegado al lugar adecuado! Estoy emocionada de darte la bienvenida. ¿Listos para crear algo increíble juntos?
			`}
			imageUrl="/images/pw.png"
		/>

    <SectionHeading
      tagline={`
        Soy Vanessa, y estoy aquí para ayudarte a brillar en el mundo digital. Ya sea con un sitio web que cause sensación o con estrategias astutas de SEO, mi objetivo es hacer que tu presencia online no solo sea efectiva, sino también un éxito rentable.
        Si buscas un sitio web que sea una mezcla perfecta de estilo y funcionalidad, capaz de generar resultados palpables, ¡has llegado al lugar adecuado! Estoy emocionada de darte la bienvenida. ¿Listos para crear algo increíble juntos?
      `}
      imageUrl="/images/pw.png"
    />

    <Headline2
      title="TARIFAS EXCLUSIVAS"
      subtitle="Para tu proyecto"
      tagline={`
        Te ofrezco tarifas de diseño web especialmente adaptadas para pequeñas empresas, renovaciones de
        sitios web obsoletos o proyectos nuevos en sus inicios. En todos mis trabajos, empleo materiales de alta
        calidad para crear sitios web atractivos, seguros, sólidos y altamente rentables.
        
        Pongo a tu alcance tarifas directas y muy completas, con una excelente relación entre calidad y precio.
        Esto te permite llevar a cabo tus planes de negocio, revitalizar la presencia en línea de tu empresa,
        iniciar la venta de tus productos y contar con la seguridad de que tu imagen en Internet será impecable 
        en todo momento.
      `}
      align="center"
    />

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-10">
      <Card
        imagen="/public/images/diseñoweb.jpg"
        title="Desde 550€"
        subtitle="DISEÑO WEB"
        url="/public/images/diseñoweb.jpg"
      />
      <Card
        imagen="/public/images/tienda-online.jpg"
        title="Desde 800€"
        subtitle="TIENDA ONLINE"
        url="/public/images/interior-design"
      />
      <Card
        imagen="/public/images/seo.jpg"
        title="Desde 100€"
        subtitle="SEO"
        url="/public/images/photography"
      />
    </ul>

    <Features
      title="¿Qué necesitas?"
      subtitle="Para tu web"
      items={[
        { content: "Estoy aquí para elaborarte un sitio web o una tienda online con un diseño elegante y funcional, que sea más fácil de navegar y altamente efectivo." },
        { content: "Me encargo de mantener tu sitio web siempre actualizado y en óptimas condiciones." },
        { content: "Diseño estrategias de SEO a medida, específicamente diseñadas para que tu sitio web atraiga un flujo constantes de clientes desde Internet." },
        { content: "Estoy disponible para blindarte orientación en todas las áreas relacionadas con la presencia en línea de tu negocio y para colaborar contigo en la definición y refinamiento de tu estrategia digital de manera sólida y efectiva." }
      ]}
    />
  </main>
</Layout>
