---
import Section from '../components/SectionHeading.astro'
---

<div class="flex justify-between items-center p-8 bg-gray-100">
  <div class="w-2/3">
    <Section
      tagline={`
          Si tienes cualquier duda, puedes contactar con nosotros en el siguiente formulario.
          Estaremos encantados de poder ayudarte y resolver tus dudas. Te responderemos en un plazo máximo
          de 48 horas.
      `}
      imageUrl="/images/pw.png"
    />
  </div>
  <form class="bg-white p-8 rounded-md shadow-xl max-w-xl w-3/5">
    <h2 class="text-2xl font-semibold mb-4">¿TIENES DUDAS? ESCRÍBENOS Y TE LAS SOLUCIONAMOS</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label for="nombre" class="sr-only">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500" placeholder="Nombre">
      </div>
      <div>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500" placeholder="Email">
      </div>
    </div>
    
    <div class="mt-4">
      <label for="mensaje" class="sr-only">Mensaje</label>
      <textarea id="mensaje" name="mensaje" rows="4" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500" placeholder="Mensaje"></textarea>
    </div>
    
    <div class="mt-4 flex items-start">
      <input type="checkbox" id="privacidad" name="privacidad" class="mr-2 mt-1">
      <label for="privacidad" class="text-gray-700">He leído y acepto la política de privacidad</label>
    </div>
    
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-4 hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Enviar</button>
  </form>
</div>




