---
---

<nav class="flex items-center justify-between py2 px-4 h-24 border-b shadow-md">
  <div class="flex items-center">
    <img src="/public/images/pw-preview.png" alt="Profesional Wordpress" class="h-20 w-auto">
  </div>
  <div class="flex items-center space-x-6">
    <a href="#" class="text-lg font-medium hover:text-blue-500 transition duration-300 text-blue-800">Diseño Web</a>
    <a href="#" class="text-lg font-medium hover:text-blue-500 transition duration-300 text-blue-800">Tienda Online</a>
    <a href="#" class="text-lg font-medium hover:text-blue-500 transition duration-300 text-blue-800">SEO</a>
    <a href="#" class="text-lg font-medium hover:text-blue-500 transition duration-300 text-blue-800">BLOG</a>
    <a href="#" class="text-lg font-medium hover:text-blue-500 transition duration-300 text-blue-800">Contacto</a>
  </div>
</nav>
