---
import Headline2 from './Headline2.astro';

const { align = 'center', title, subtitle, tagline, cards } = Astro.props;

interface Card {
  title: string;
  description: string;
  link: string;
  image: string;
}
---

<Headline2 title={title} subtitle={subtitle} tagline={tagline} align='center'/>
<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
  
</div>