---
const { tagline, imageUrl } = Astro.props;
---

<div class="pt-16 pb-4 border-b">
  <div class="text-left my-2 px-12">
<<<<<<< HEAD
    <p class="text-2xl text-gray-800">{tagline}</p>
  </div>
  <div class="py-4 flex items-center justify-center">
=======
    <p class="text-xl text-gray-800">{tagline}</p>
  </div>
  <div class="py-2 flex items-center justify-center">
>>>>>>> f83c098e393c7372bcdb6ef1e4afc585721d4ba0
    <img src={imageUrl} alt="Profesional Wordpress">
  </div>
</div>
